
/*Responsive Breakpoints*/

$largeBreakpoints: 1250px;
$mediumBreakpoints: 990px;
$smallBreakpoints : 550;

@media only screen and (max-width: 1405px) {

}

@media only screen and (max-width: $largeBreakpoints){

}


@media only screen and (max-width: 950px){
    
    .mid-content,
    .author-section{
        grid-template-columns: auto !important;
        justify-content: center;

       .event-heading-action{
            margin-bottom: 2em !important;
        }
    }

    .wrapper-author-image{
        text-align: center;
    }

    .lower-content,
    .section-two-col-grid{
        grid-template-columns: auto !important;
    }

    .mid-content{
        padding: 3em 0 !important;
    }

    .contents{
        text-align: center;
        max-width: 700px;
        margin-top: 4em;
    }

    .overlap{
         transform: translateY(0px); 
    }

    .fb-num{
        display: none;
        transform: rotate(0deg) !important;
    }

    .right-span,
    .left-span{
        span{
            transform: translate(0px, -65px) !important;
        }
    }

    .content-wrapper-ft,
    .testimonial-info{
        order:2;
    }

    .img-book-container,
    .testimonial-container-head{
        order:1;
        img{
            width: 35% !important;
        }
    }

    .testimonial-container-head{
        max-width: 500px;
        margin: 0 auto;
    }

    [data-aos^=fade][data-aos^=fade]{
        opacity: 1 !important;
    }

    [data-aos=fade-up] {
        transform: translate3d(0,0px,0) !important;
    }

    .ellipse{
        display:none;        
    }

    .footer-nav-list{
        text-align: center !important;
        li{
            display: block !important;
        }
    }

    .footer-lower-info,
    .trademark-heading{
        text-align: center !important;
    }

    .lower-nav-footer{
        &::before{
            display: none !important; 
        }
    }

    .footer-nav-list{
        &::after{
            display: none !important;
        }
    }

    .trademark-heading{
        #style_soc_medias{
            text-align: center;
        }    
    }
}


@media only screen and (max-width: $mediumBreakpoints ){


}	


@media only screen and (max-width:  $smallBreakpoints ){



}