
/*Responsive Breakpoints*/

$largeBreakpoints: 1250px;
$mediumBreakpoints: 990px;
$smallBreakpoints : 550px;


@media only screen and (max-width: $largeBreakpoints){

}


@media only screen and (max-width: $mediumBreakpoints){
    
    .mid-content,
    .author-section{
        grid-template-columns: auto !important;
        justify-content: center;

       .event-heading-action{
            margin-bottom: 2em !important;
        }
    }

    .wrapper-author-image{
        text-align: center;
    }

    .lower-content,
    .section-two-col-grid{
        grid-template-columns: auto !important;
    }

    .mid-content{
        padding: 3em 1.7em !important;
        .event-heading{
            p{
                margin: 0 0em !important;
            }
        }
    }

    .contents{
        text-align: center;
        max-width: 700px;
        margin-top: 4em;
    }

    .overlap{
         transform: translateY(0px) !important; 
    }

    .fb-num{
        display: none;
        transform: rotate(0deg) !important;
    }

    .right-span,
    .left-span{
        span{
            transform: translate(0px, -65px) !important;
        }
    }

    .content-wrapper-ft,
    .testimonial-info{
        order:2;
    }

    .img-book-container,
    .testimonial-container-head{
        order:1;
        img{
            width: 35% !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
        }
    }

    .wrapper-author-image{
        img{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
            width: 65% !important;
        }
    }

    .testimonial-container-head{
        max-width: 500px;
        margin: 0 auto;
    }

    [data-aos^=fade][data-aos^=fade]{
        opacity: 1 !important;
    }

    [data-aos=fade-up] {
        transform: translate3d(0,0px,0) !important;
    }

    [data-aos=fade-right]{
        transform: translate3d(0px,0,0) !important;
    }

    .ellipse{
        display:none;        
    }

    .footer-nav-list{
        text-align: center !important;
        li{
            display: block !important;
        }
    }

    .footer-lower-info,
    .trademark-heading{
        text-align: center !important;
    }

    .lower-nav-footer{
        &::before{
            display: none !important;
        }
    }

    .footer-nav-list{
        &::after{
            display: none !important;
        }
    }

    .trademark-heading{
        #style_soc_medias{
            text-align: center;
        }
    }

    .trademark-heading{
        max-width: 400px;
        margin: 0 auto;
    }

    .grid-cont {
        .linear-ft{
            &::before{
                width: 61% !important;
            }
        }
    }

    .bottom-heading-bn{
        transform: translate(0px, 0px) !important;
    }

    .first-heading{
        transform: translate(0px, 122px) !important;
    }

    .navlist-footer-column,
    .lower-info-container{
        width: 100%;
        margin: 0 auto !important;
    }

    .upper-main{
        p{
            &::before{
                display: none;
            }
        }
    } 
    
    .heading-nav{
        h1{     
            letter-spacing: 0px !important;
        }
    }

    .footer-nav-list{
        li{
            padding: 16px 25px;
            text-transform: capitalize;
            font-size: 14px;
            letter-spacing: 1px;
            background: #2f2f2f;
            margin-bottom: 13px;
            border-radius: 9px;
        }
    }

    .footer-nav-list{
        li{
            border-radius: 2px !important;
        }
    }
}



@media only screen and (max-width:  $smallBreakpoints ){

    .upper-main{
         p{
            max-width: 300px !important;
         }
    }
    .testimonial-container-head{
        h1{
            font-size: 4em !important;
        }
    }

    .nav-list{
        ul{
            li{
                font-size: 1.6em !important;
            }
        }
    }

    .logo{
        transform: translateY(-26px);
        img{
            width: 36px !important;
            top: 20px; 
        }
    }

    .banner-wrapper{
        height: 76vh !important;
    }

    .img-wrapper {
        img{
            animation-iteration-count: initial !important;
        }
    }

    .event-ft {
        p{
            p{
                margin-top: 30px;
            }
        }
    }
         
}