
/*Responsive Breakpoints*/

$largeBreakpoints: 1250px;
$mediumBreakpoints: 990px;
$smallBreakpoints : 550px;


@media only screen and (max-width: $largeBreakpoints){

}


@media only screen and (max-width: $mediumBreakpoints){


    .first-book,
    .second-book,
    .wrapper-author-image{
        &:before{
            display: none !important;
        }
    }

    .banner-wrapper{
        height: 90vh !important;
    }

    .img-wrapper {
        img{
            display: none;
            animation-iteration-count: initial !important;
        }
    }

    .heading-quote{
        margin-top: 0 !important;
        margin-bottom: 3em;
    }

    .column{
        padding: 0 !important;
    }

    .author-image-container{
        img{
            width: 100% !important;
        }
    }

    .author-name{
        position: static !important;
        display: block !important;
        margin: 0 0px !important;
    } 

    .mid-content,
    .author-section{
        grid-template-columns: auto !important;
        justify-content: center;

       .event-heading-action{
            margin-bottom: 2em !important;
        }
    }


    .lower-content,
    .section-two-col-grid{
        grid-template-columns: auto !important;
    }

    .mid-content{
        padding: 3em 1.7em !important;
        .event-heading{
            p{
                margin: 0 0em !important;
            }
        }
    }

    .contents{
        text-align: center;
        max-width: 700px;
        margin-top: 4em;
    }

    .overlap{
         transform: translateY(0px) !important; 
    }

    .fb-num{
        display: none;
        transform: rotate(0deg) !important;
    }

    .right-span,
    .left-span{
        span{
            transform: translate(0px, -65px) !important;
        }
    }

    .content-wrapper-ft,
    .testimonial-info{
        order:2;
    }

    .img-book-container,
    .testimonial-container-head{
        order:1;
        img{
            width: 70% !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
        }
    }

    .wrapper-author-image{
        text-align: center;
        img{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
            width: 65% !important;
        }
    }

    .testimonial-container-head{
        max-width: 500px;
        margin: 0 auto;
    }

    [data-aos^=fade][data-aos^=fade]{
        opacity: 1 !important;
    }

    [data-aos=fade-up] {
        transform: translate3d(0,0px,0) !important;
    }

    [data-aos=fade-right]{
        transform: translate3d(0px,0,0) !important;
    }

    // .ellipse{
    //     display:none;        
    // }

    .footer-nav-list{
        text-align: center !important;
        li{
            display: block !important;
        }
    }

    .footer-lower-info{
        margin-top: 4em !important;
    }

    .footer-lower-info,
    .trademark-heading{
        text-align: center !important;
    }

    .lower-nav-footer{
        &::before{
            display: none !important;
        }
    }

    .footer-nav-list{
        &::after{
            display: none !important;
        }
    }

    .trademark-heading{

        max-width: 400px;
        margin: 0 auto;

        #style_soc_medias{
            text-align: center;
            margin-top: 3em;
        }

        p{
           margin: 3em 0;
        }

    }

    .grid-cont {
        .linear-ft{
            &::before{
                width: 61% !important;
            }
        }
    }

    .bottom-heading-bn{
        transform: translate(0px, 17vh) !important;
    }

    .first-heading{
        transform: translateY(28vh)!important;
    }

    .navlist-footer-column,
    .lower-info-container{
        width: 100%;
        margin: 0 auto !important;
    }

    .upper-main{
        p{
            &::before{
                display: none;
            }
        }
    } 
    
    .heading-nav{
        display: none;
        h1{     
            letter-spacing: 0px !important;
            font-size: 17px !important;
        }
    }

    .footer-nav-list{
        li{
            padding: 16px 25px;
            text-transform: capitalize;
            font-size: 14px;
            letter-spacing: 1px;
            background: #2f2f2f;
            margin-bottom: 13px;
            border-radius: 9px;
        }
    }

    .footer-nav-list{
        li{
            border-radius: 2px !important;
        }
    }

    .nav-list{
        ul{
            padding: 0 4% !important;
            li{
                font-size: 1.6em !important;
            }
        }
    }

    .grid-images-author {
        grid-template-columns: auto !important;

        .author-img{
            width: 90%;
            margin: 0 auto;
        }
    }
     
}



@media only screen and (max-width:  $smallBreakpoints ){



    .f-num-list{
        letter-spacing: 3px;
    }

    .heading-banner{
        top: 52vh !important;
        font-size: 10.5vw !important;
    }

    .upper-main{
         p{
            max-width: 300px !important;
         }
         
         span{
             display: block !important;
         }
    }

    .ellipse{
        position: absolute;
        height: 300px !important;
        width: 300px !important;
        border-radius: 50%;
        z-index: -2;
        border: 7px solid #26b6db;
        .ellipse-inner{
            position: absolute;
            height: 250px !important;
            width: 250px !important;
            border-radius: 50%;
            z-index: -2;
            top: 6% !important;
            left: 6% !important;
            background: #26b6db36;
        }
    }

    .testimonial-container-head{

        padding: 2em 0.5em !important;

        h1{
            font-size: 4em !important;  
        }
    }

    .logo{
        width: 13% !important;
        transform: translateY(-40px);

        img{
            width: 49px !important;
            top: 21px !important;
            left: 0 !important;
        }
    }


    .event-ft {
        p{
            p{
                margin-top: 30px;
            }
        }
    }

    .booklinkBlocks{
        li{
            display: block !important;
            background: #b29e46;
            margin-bottom: 1em;
            padding: 1em 2em !important;
        }
    }

    .contentBook {
        h1{
            font-size: 2rem !important;
        }
    }
         
}

@media only screen and (max-width: 450px ){

    .bottom-heading-bn,
    .first-heading{
        font-size: 1.6em !important;
    }

}
